<%- include ('./partials/header') %>

<%- include ('./partials/navbar') %>

<%- include ('./partials/left') %>

<div class="container">
    <br><br><br><br>
    <h1>Device ID: <%= id %></h1>
    <hr>
  </div>
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-12">

          <h1>Data</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Humidity (%)</th>
            <th scope="col">Temperature (ºC)</th>
          </tr>
        </thead>
        <tbody>
          <% dataTable.forEach(row => { %>
          <tr>
            <% row.forEach(element => { %>
            <td>
              <%= element %>
            </td>
            <% }) %>
          </tr>
          <% }) %>
        </tbody>
      </table>

        </div>
        
      </div>
    </div>




  

    
      



<%- include ('./partials/footer') %>